In [1]:
cd ../src

/Users/williamferreira/PycharmProjects/mscproject/src

In [2]:
import numpy as np
import pandas as pd

from model.utils import get_dataset, split_data
from model.classifiers.lr_predictors import LogitPredictor

In [3]:
# baseline features
from model.baseline.transforms import (
    HedgingWordsTransform, 
    QuestionMarkTransform, 
    RefutingWordsTransform,
    RefutingWordsTransform,
    InteractionTransform,
    NegationOfRefutingWordsTransform,
)

In [4]:
# extended features
from model.ext.transforms import Word2VecTransform, HungarianAlignmentTransform, NegationAlignmentTransform

In [25]:
df1 = pd.DataFrame(index=range(3), columns=['a', 'b', 'c'],data=1.)
df1

   a  b  c
0  1  1  1
1  1  1  1
2  1  1  1

In [26]:
df2 = pd.DataFrame(index=range(3), columns=['a', 'b', 'c'],data=2.)
df2

   a  b  c
0  2  2  2
1  2  2  2
2  2  2  2

In [29]:
(df1.unstack() + df2.unstack()).unstack() / 2

     0    1    2
a  1.5  1.5  1.5
b  1.5  1.5  1.5
c  1.5  1.5  1.5

In [33]:
sum(sum(df2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'