In [1]:
cd ../src

/Users/williamferreira/Dropbox/mscproject/src

In [2]:
from model.utils import get_dataset

In [3]:
df_data = get_dataset()

In [6]:
df_data_not = df_data[df_data.articleHeadline.str.contains('not')]

In [10]:
df_data_not.articleHeadlineStance.value_counts() / df_data_not.articleHeadlineStance.value_counts().sum() * 100

against      63.945578
for          26.530612
observing     9.523810
dtype: float64

In [15]:
df_data_against = df_data[df_data.articleHeadlineStance == 'against']
df_data_against.shape

(395, 5)

In [14]:
df_data_against[df_data_against.articleHeadline.str.contains('not')].shape

(94, 5)

In [13]:
df_data_fa = df_data.drop(df_data[df_data.articleHeadlineStance == 'observing'].index)

In [14]:
df_data_fa.head()

,claimHeadline,articleHeadline,articleHeadlineStance,articleId,claimId
1,Two Australian men kept a McDonald's Quarter P...,World's oldest burger,for,8bb10fd0-b6aa-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
2,Two Australian men kept a McDonald's Quarter P...,Two blokes dared to eat 20-year-old burger for...,for,00b6b660-b6a9-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
3,Two Australian men kept a McDonald's Quarter P...,Would you take a bite out of the world's oldes...,for,fc92d640-b6a8-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
4,Two Australian men kept a McDonald's Quarter P...,20 year old burger? McDonald's burger purchase...,for,08c84b70-b6a9-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078
5,Two Australian men kept a McDonald's Quarter P...,20-year-old burger: McDonald's Quarter Pounder...,for,ef4142b0-b6a8-11e4-8507-b58af63d1078,d54aaf40-b6a8-11e4-8507-b58af63d1078

In [15]:
s = 'Q,BoW-Hed,BoW-Ref,I,BoW,Sim-Algn-W2V,Sim-Algn-PPDB,Root-Dist,Neg-Algn,SVO'

In [16]:
s.split(',')

['Q',
 'BoW-Hed',
 'BoW-Ref',
 'I',
 'BoW',
 'Sim-Algn-W2V',
 'Sim-Algn-PPDB',
 'Root-Dist',
 'Neg-Algn',
 'SVO']