## To do
1 - Combining the different Snopes Transformations files into one big CSV

2 - Bring in combined Emergent CSV

3 - Logistic Regression

Part 1 - Combining Snopes

In [44]:
import pandas as pd
import numpy as np
import glob
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [45]:
#Getting a list of all files which I need to concat
files = glob.glob('mscproject/data/emergent/Snopes_Transformations/Snopes*.csv')

In [46]:
len(files)

265

In [47]:
dfs = []
for i in range(0, 262):
    dfs.append(pd.read_csv(files[i]))

In [48]:
merged = pd.concat(dfs, ignore_index = True)
merged.to_csv('mscproject/data/emergent/Snopes_Transformations/Combined.csv', index = None)

Part 2 - Reading in Emergent features

In [55]:
snopes = pd.read_csv('mscproject/data/emergent/Snopes_Transformations/Combined.csv')
emergent = pd.read_csv('mscproject/data/emergent/Emergent_features_and_labels.csv')

In [56]:
snopes.shape

(46754, 520)

In [57]:
snopes.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,509,510,511,512,513,514,515,516,517,articleHeadline
0,0,0.025126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,100 Meijer Coupon - Snopes.com
1,1,-0.011872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,Fake Meijer 100 back-to-school coupon goes vir...
2,2,0.109390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,100.0,0.0,100 Meijer Coupon - Hoax - Trendolizer
3,3,-0.201224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,2.0,0.0,100 OFF Meijer Coupon Deals April 2017 HotDeal...
4,4,0.016830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,10 off 100 in Visa Gift Cards at Meijer - Freq...

Part 3 - Getting predictions for the articleHeadlineStances of Snopes articles by using a logistic regression model.
This LR model will be trained on the Emergent features and Emergent labels.

In [58]:
X = emergent.loc[:, '0':'517']
y = emergent.loc[:, 'articleHeadlineStance']
snopes2 = snopes.loc[:, '0':'517']

In [59]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,508,509,510,511,512,513,514,515,516,517
0,0.209241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
1,-0.040564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
2,-0.028938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,100.0,100.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,100.0,100.0,1.0
4,0.002010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,100.0,2.0,0.0

In [60]:
y.head()

0    observing
1          for
2          for
3          for
4          for
Name: articleHeadlineStance, dtype: object

In [61]:
snopes2.head()

,0,1,2,3,4,5,6,7,8,9,...,508,509,510,511,512,513,514,515,516,517
0,0.025126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
1,-0.011872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
2,0.109390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,100.0,0.0
3,-0.201224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,2.0,0.0
4,0.016830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0

** Need to do logistic regression here **

I will use L1 regularization (I read that L1 is better for sparse models)

In [63]:
logr = LogisticRegression(penalty = 'l1')
logr.fit(X, y)
predicted_stances = logr.predict(snopes2)

In [64]:
len(predicted_stances)

46754

Now I will combine the article text and the predicted stances into one csv

In [65]:
claims = pd.DataFrame()
claims['articleHeadline'] = snopes['articleHeadline']
claims['predictedStance'] = predicted_stances

In [69]:
for_count = [f for f in predicted_stances if f=='for']
against_count = [f for f in predicted_stances if f=='against']
observing_count = [f for f in predicted_stances if f=='observing']
len(for_count), len(against_count), len(observing_count)

(29530, 7981, 9243)

In [71]:
claims.to_csv('Snopes_articles_with_predicted_stance.csv')