## To do
1 - Combining the different Snopes Transformations files into one big CSV

2 - Bring in combined Emergent CSV

3 - Logistic Regression

Part 1 - Combining Snopes

In [62]:
import pandas as pd
import numpy as np
import glob
import os
from sklearn.linear_model import LogisticRegression

In [39]:
#Getting a list of all files which I need to concat
files = glob.glob('mscproject/data/emergent/Snopes Transformations/*.csv')

In [40]:
len(files)

262

In [44]:
dfs = []
for i in range(0, 262):
    dfs.append(pd.read_csv(files[i]))

In [49]:
merged = pd.concat(dfs, ignore_index = True)
merged.to_csv('mscproject/data/emergent/Snopes Transformations/Snopes_combined.csv', index = None)

Part 2 - Reading in Emergent features

In [50]:
snopes = pd.read_csv('mscproject/data/emergent/Snopes Transformations/Snopes_combined.csv')
emergent = pd.read_csv('mscproject/data/emergent/Emergent_features_and_labels.csv')

In [51]:
emergent.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,509,510,511,512,513,514,515,516,517,articleHeadlineStance
0,0,0.209241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,observing
1,1,-0.040564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,for
2,2,-0.028938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,100.0,100.0,0.0,for
3,3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,100.0,100.0,1.0,for
4,4,0.002010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,100.0,2.0,0.0,for

In [52]:
snopes.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,508,509,510,511,512,513,514,515,516,517
0,0,0.025126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
1,1,-0.011872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
2,2,0.109390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,100.0,0.0
3,3,-0.201224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,2.0,0.0
4,4,0.016830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0

Part 3 - Getting predictions for the articleHeadlineStances of Snopes articles by using a logistic regression model.
This LR model will be trained on the Emergent features and Emergent labels.

In [58]:
X_train = emergent.loc[:, '0':'517']
y_train = emergent.loc[:, 'articleHeadlineStance']
X_test = snopes.loc[:, '0':]

In [56]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,508,509,510,511,512,513,514,515,516,517
0,0.209241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
1,-0.040564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
2,-0.028938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,100.0,100.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,100.0,100.0,1.0
4,0.002010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,100.0,2.0,0.0

In [59]:
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,508,509,510,511,512,513,514,515,516,517
0,0.025126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
1,-0.011872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0
2,0.109390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,100.0,0.0
3,-0.201224,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,2.0,0.0
4,0.016830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0

** Need to do logistic regression here **
I will do 10-fold CV and I will use L1 regularization (I read that L1 is better for sparse models)